util/x86
util/x64
packages/
*/bin
*/obj
bin/
obj/
publish/
dist/
artifacts/
*.suo
*.user
*.DotSettings
*.dat
setup/Debug
setup/Release
setup/*.cmd
pages/
cov-int*

# web UI
node_modules/
*.tsbuildinfo
